html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ol,
ul,
li {
    list-style-type: none;
}

/**************** moj dodatak ***************/


.font_size {
    font-size: 1rem !important;
    padding: 0 15px;
}

#inp,
#minCena,
#maxCena,
#btnMinCena,
#btnMaxCena,
#btnIme,
#boja,
#sezona,
#duzGaz,
#pol,
#polje,
#sort {
    width: 90%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 3px;
}

#polje,
#sort {
    width: 44%;
}

#filter {
    position: sticky;
    top: 0;
    background-color: rgb(231, 228, 223);
    border: 1px solid rgb(146, 146, 146);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    min-width: 100%;
    padding: 30px 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
hr {
    margin: 3px 15px 12px;
}
/******************************************/


#start-nav {
    color: #393836;
    background-color: none;
    font-size: 1em;
    margin-right: 0;
    margin-left: 0;
    text-shadow: 4px 4px 6px rgb(230, 226, 226),
        -5px -4px 6px rgba(230, 226, 226);
}
.nav-cell a:hover {
    text-shadow: 4px 4px 6px rgb(41, 39, 39), -5px -4px 6px rgba(41, 39, 39);
    color: #dcd9d0 !important;
    transition: all 0.3s ease;
}
.nav-cell {
    z-index: 100;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    border: none;
}
#logo2 {
    height: 7em;
    border-radius: 50%;
    opacity: 0.8;
    box-shadow: 0px 17px 39px 10px rgb(126, 112, 105);
    -webkit-box-shadow: 0px 17px 39px 10px rgb(126, 112, 105);
    -moz-box-shadow: 0px 17px 39px 10px rgb(126, 112, 105);
}
#logo3 {
    border-radius: 50%;
    opacity: 0.8;
    padding: 1.2em;
    width: 10em;
}
.kolekcija {
    height: 200px;
    width: 200px;
}
.font-color {
    color: #3f3d3c;
}
#about-us {
    position: relative;
    min-height: 85vh;
    padding-bottom: 15vh;
    padding-top: 2em;
    box-shadow: inset 0px 0px 30px 5px rgba(129, 68, 32, 0.623),
        inset 0px 0px 30px 5px rgba(129, 68, 32, 0.623);
}
#background-fire {
    background-image: url("photos/pozadina3.jpg");
    background-position: -500px 100px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
}
#text-about {
    position: relative;
    z-index: 1000;
    width: 40vw;
    height: 100%;
    background-color: rgba(168, 161, 150, 0.61);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin: 4em;
    font-family: "Charm", cursive;
    box-shadow: 0px 0px 30px 5px rgba(158, 157, 156, 0.623),
        0px 0px 30px 5px rgba(156, 154, 154, 0.623),
        inset 0px 0px 30px 5px rgba(170, 168, 167, 0.623),
        inset 0px 0px 30px 5px rgba(161, 159, 159, 0.623);
}
.section-heading {
    text-align: left;
}
#text-about .section-heading h4 {
    font-size: 5em;
    vertical-align: middle;
    font-family: "Charm", cursive;
    color: #31332f;
    opacity: 0.9;
    white-space: nowrap;
    display: inline-block;
}
#text-about p {
    display: flex;
    font-size: 4.5vh;
    line-height: 1.5em;
    font-weight: normal;
    color: #31332f;
}
#text-about,
#images-about {
    display: inline-block;
}
#images-about {
    /* position: relative; */
    width: 40vw;
    height: 65vh;
    margin-top: 10vh;
    margin-right: 7vw;
    float: right;
}
#images-about div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 30px 5px rgba(129, 68, 32, 0.623),
        inset 0px 0px 30px 5px rgba(129, 68, 32, 0.623);
}
#images-about div:nth-child(1) {
    background: url("photos/jesen.jpg") no-repeat;
    background-position: 20% 0%;
    background-size: cover;
}
#images-about div:nth-child(2) {
    background: url("photos/leto.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
#images-about div:nth-child(3) {
    background: url("photos/prolece.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
#images-about div:nth-child(4) {
    background: url("photos/zima.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

@keyframes promenaPozadine1 {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#images-about div:nth-child(1) {
    animation: promenaPozadine1 20s ease 5s infinite normal both;
}
@keyframes promenaPozadine2 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
#images-about div:nth-child(2) {
    animation: promenaPozadine2 20s ease 5s infinite normal both;
}
@keyframes promenaPozadine3 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#images-about div:nth-child(3) {
    animation: promenaPozadine3 20s ease 5s infinite normal both;
}
@keyframes promenaPozadine4 {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
#images-about div:nth-child(4) {
    animation: promenaPozadine4 20s ease 5s infinite normal both;
}

.footer {
    background-color: #dcd9d0;
    text-align: center;
    padding-bottom: 1em;
    box-shadow: inset 0px 0px 30px 5px rgba(126, 112, 105, 0.623),
        inset 0px 0px 30px 5px rgba(126, 112, 105, 0.623);
    color: rgb(82, 79, 79) !important;
}
p a:hover {
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}
.footer-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2em;
}
.footer-cell {
    flex-basis: 400px;
    text-align: left;
}
.bottom-line {
    border-bottom: 2px solid rgb(82, 79, 79);
    padding-bottom: 1em;
}
.footer-cell h6 {
    margin: 1.5em 1em 1em;
    font-size: 1.7em;
}
.footer-cell p {
    padding: 0 2em;
}
.footer-cell a,
.footer a {
    color: rgb(82, 79, 79) !important;
}
.footer div:last-child {
    width: 100%;
}



@media (max-width: 1200px) {
    .footer-cell {
        flex-basis: 300px;
    }
}
@media (max-width: 1050px) {
    #text-about .section-heading h4 {
        font-size: 3em;
    }
}
@media (max-width: 900px) {
    .footer-cell {
        flex-basis: 250px;
        font-size: 0.9em;
    }
    .footer-cell h6 {
        font-size: 1.2em;
    }
    .footer-cell div:last-child {
        width: 100%;
    }
}
@media (max-width: 750px) {
    .footer-cell {
        flex-basis: 400px;
        text-align: center;
        font-size: 1em;
    }
    .footer-cell h6 {
        font-size: 1.5em;
    }
}

@media (max-aspect-ratio: 8/5) {
    #text-about .section-heading h4 {
        font-size: 8vw;
    }
    #images-about {
        width: 80%;
        margin-left: 10%;
        display: block;
        float: none;
        position: relative;
    }
    #text-about {
        width: 80%;
        display: block;
        margin-left: 10%;
        text-align: center;
    }
    #background-fire {
        background-position: 50% 35%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media (max-aspect-ratio: 1/1) {
    #text-about .section-heading {
        padding-top: 1em;
        text-align: center;
        padding-left: 0;
    }
    #text-about a img {
        width: auto;
        height: 5em;
    }
    #header-text h1 {
        margin-top: 13%;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    #logo a img {
        width: 35vw;
        height: auto;
    }
}
@media (max-width: 600px) {
    #background-fire {
        display: none;
    }
    #logo2 {
        height: 5em;
    }
}
