html, body {width: 100%; height: 100%;margin: 0;padding: 0; scroll-behavior: smooth;}
body *{margin: 0; padding: 0; box-sizing: border-box; }
a {text-decoration: none;}
ol, ul, li {list-style-type: none;}

#start-section, .footer {
    box-shadow: inset 0px 0px 30px 5px rgba(126, 112, 105, 0.623), inset 0px 0px 30px 5px rgba(126, 112, 105, 0.623);
}
#start-section #header-text h1, #start-nav, #text-about .section-heading h4, .footer-cell h6{
    font-family: 'Dancing Script', cursive;
}
#start-section #header-text h1{
    color:#393836;
    text-shadow: 2px 2px 0px rgb(206, 184, 161), 3px 3px 0px #707070;
    text-align: right;
    float:right;
    width:100%;
    padding-right: 3%;
    margin-top:30vh; 
    box-shadow: inset -30px -30px 30px 0px rgba(207, 192, 171, 0.658);
    background-image: linear-gradient(to left, rgba(82, 73, 61, 0.658) , rgba(167, 165, 159, 0));
    opacity: 0;
    -webkit-animation-name: naslov;
    -webkit-animation-duration: 4s;
    animation-name: naslov;
    animation-duration: 4s;
    animation-fill-mode: forwards;  
}
@keyframes naslov{
    from{ opacity: 0; font-size: 2em; }
    to{ opacity: 1; font-size: 5em; }
}
#start-nav{
    color:#393836 ;
    background-color: none;
    font-size: 1.3em;
    margin-right: 0;
    margin-left:0;
    text-shadow: 4px 4px 6px rgb(230, 226, 226),-5px -4px 6px rgba(230, 226, 226);
}
.nav-cell a:hover{
    text-shadow: 4px 4px 6px rgb(41, 39, 39),-5px -4px 6px rgba(41, 39, 39);
    color:#DCD9D0 !important;
    transition:all 0.3s ease;
}
.nav-cell{
    z-index: 100;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler-icon{
    border: none;
}
button.navbar-toggler{
    background-color: rgba(220, 217, 208, 0.651);
    box-shadow: 0px 0px 5px 2px rgba(126, 112, 105, 0.623);
    outline: none;
}
.logo2{
    height: 7em;
    border-radius: 50%;
    opacity: 0.8;
    box-shadow: 0px 17px 39px 10px rgb(126, 112, 105);
    -webkit-box-shadow: 0px 17px 39px 10px rgb(126, 112, 105);
    -moz-box-shadow: 0px 17px 39px 10px rgb(126, 112, 105);
}
#logo3{
    border-radius: 50%;
    opacity: 0.8;
    padding:1.2em;
    width: 10em;
}
/* .kolekcija{
    height: 200px;
    width: 200px;
} */
.font-color{
    color: #3F3D3C;
}
#about-us{
    position:relative;
    min-height: 85vh;
    padding-bottom:15vh;
    padding-top:2em;
    box-shadow: inset 0px 0px 30px 5px rgba(129, 68, 32, 0.623),inset 0px 0px 30px 5px rgba(129, 68, 32, 0.623);
}

#text-about{
    position:relative;
    z-index:1000;
    width: 60%;
    height: 100%;
    background-color: rgba(168, 161, 150, 0.692);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin:4em;
    font-family: 'Charm', cursive;
    box-shadow: 0px 0px 30px 5px rgba(158, 157, 156, 0.623),0px 0px 30px 5px rgba(156, 154, 154, 0.623),inset 0px 0px 30px 5px rgba(170, 168, 167, 0.623),inset 0px 0px 30px 5px rgba(161, 159, 159, 0.623);
}
.section-heading{
    text-align: left;
}
#text-about .section-heading h4{
    font-size: 4em;
    vertical-align: middle;
    color:#31332F;
    opacity: 0.9;
    white-space: nowrap;
    display: inline-block;
}
#text-about p{
    display: flex;
    font-size: 1.5vw;
    line-height: 1.6em;
    font-weight: normal;
    color:#31332F;
}
#text-about{
    display:inline-block;
}
.footer{
    background-color: #DCD9D0;
    text-align: center;
    padding-bottom:1em;
}
p a:hover{
    text-decoration: none;
    font-weight: bold;
    transition:all 0.3s ease;
}
.footer-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom:2em;
}
.footer-cell{
    flex-basis: 400px;
    text-align: left;
}
.bottom-line{
    padding-bottom: 1em;
    border-bottom: 2px solid rgb(82, 79, 79) !important;
}
.footer-cell h6{
    margin:1.5em 1em 1em;
    font-size: 1.7em;
    text-transform: uppercase;
}
.footer-cell p{
    padding:0 2em 1em 2em ;
}
.footer, .footer-cell a, .footer a{
    color:rgb(82, 79, 79) !important;
}
.footer div:last-child{
    width: 100%;
}
    
      
@media (max-width: 1200px){
    .footer-cell{
        flex-basis: 300px;
      }
}
@media (max-width: 900px){
    .footer-cell{
        flex-basis: 250px;
        font-size: 0.9em;
    }
    .footer-cell h6{
        font-size: 1.2em;
    }
    .footer-cell div:last-child{
        width:100%;
    }
    #start-section #header-text h1{
        margin-top:20vh;
    }
    @keyframes naslov{
        from{ opacity: 0; font-size: 1.5em; }
        to{ opacity: 1; font-size: 4em; }
    }
}
@media (max-width: 750px){
    .footer-cell{
        flex-basis: 400px;
        text-align: center;
        font-size: 1em;
    }
    .footer-cell h6{
        font-size: 1.5em;
    }
    @keyframes naslov{
        from{ opacity: 0; font-size: 1em; }
        to{ opacity: 1; font-size: 3em; }
    }
}
@media (max-aspect-ratio: 8/5) {
    #text-about .section-heading h4{ 
        font-size:11vw;
    }
    #text-about{
        width: 80%;
        display: block;
        margin-left:10%;
        text-align: center;
    }
    #text-about p{
        font-size: 1.2em;
    }
}
@media (max-aspect-ratio: 1/1){
    #text-about .section-heading{
        padding-top: 1em;
        text-align: center;
        padding-left: 0;    
    }
    #text-about a img{
        width: auto;
        height: 20vw;
    }
    #text-about p{
        font-size:1.2em;
    }
}
@media(max-width: 600px){
    .logo2{
        height: 5em;
    }
}
