#start-nav{
    background-color:#DCD9D0;
    color:rgb(82, 79, 79) !important;
}
#start-nav{
    box-shadow: inset 0px 0px 30px 5px rgba(126, 112, 105, 0.623), inset 0px 0px 30px 5px rgba(126, 112, 105, 0.623);
}
